body {
  font-family: Arial, Helvetica, sans-serif;
}

table, p, div, td, th, input  { 
font-size: inherit ; 
}

.commontable a {
 color: inherit;
 text-decoration: inherit;
}

.commontable,#customers {
  font-size: inherit;
  border-collapse: collapse;
  width: 100%;
}

.commontable td,#customers td, .commontable th,#customers th {
  border: 1px solid #ddd;
  padding: 4px;
}

.commontable tr:nth-child(even),#customers tr:nth-child(even){background-color: #f2f2f2;}

.commontable tr:hover ,#customers tr:hover {background-color: #ddd;}

.commontable th,#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  height: 40px;
  text-align: left;
  background-color: #1090CF;
  color: white;
}


#selected th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0000FF;
  color: white;
}

thead {
  position: sticky;
  top: 0;
  color: black;
  background: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

input, select, textarea {
  width: 95%;
}

.commontable button,.back button,.helfer button,#customers button {
  text-decoration: none; /* dont underline links */
  display: inline-block; /* makes it possible to set top and bottom margins */
  width: 45px;
  height: 45px;
  text-align: center;
}

details[open] summary ~ * {
  animation: spoiler 1s ease-in-out;
  padding: 2rem;
  background: #cdddff;
  border-radius: 1rem
}
summary  {
font-size: 3px;
height: 2px;
}
